<div class="container jumbotron">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <h2>Sign in via Twitter</h2>
      <%= form_tag '/auth/twitter', method: :post, role: "form"%>
        <div class="form-group">
          <%= image_submit_tag("sign-in-with-twitter-button.png") %>
        </div>
    </div>
  </div>
</div>
