html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

body > .container {
  padding: 50px 15px 0;
}

main {
  height: 100%;
}

.navbar {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.navbar .navbar-nav > li > a {
  color:black;
  text-decoration:none;
}

.navbar .navbar-nav > li:hover {
  background-color: #27ae60;
  border-color: #27ae60;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.navbar-footer {
  height: 100%;
  padding-top: 10px;
}

.footer-list {
  position: relative;
  list-style: none;
  display: table;
  margin: 0 auto 0 auto;
}

.footer-list * {
  color:black;
  padding-right: 5px;
  padding-left: 5px;
  display: inline;
}

.footer-list a:hover {
  color:white;
  text-decoration:none;
}

/*------Scans/new------*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.btn-block {
  margin-top: 10px;
}
/*---------------------*/