<div id="footer">
  <div class="navbar-footer">
      <ul class="footer-list">  
        <li><a class="footer-link" href="https://github.com/corbinpage/sketch-meter" target="_blank">About</a></li>
        <li><div class="footer-text">|</div></li>
        <li><a class="footer-link" href="https://twitter.com/corbin_page" target="_blank">Contact</a></li>
      </ul>
  </div>
</div>